* {
  margin: 0px;
  padding: 0px;
}

.s3_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s3_2 {
  position: absolute;
  left: 55px;
  top: 28px;
  width: 754px;
  height: 92px;
  animation: zoomIn 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_3 {
  position: absolute;
  left: 39px;
  top: 144px;
  width: 373px;
  height: 685px;
  animation: fadeInLeft 0.5s;
  animation-delay: 0.8s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_4 {
  position: absolute;
  left: 332px;
  top: 297px;
  width: 731px;
  height: 518px;
  animation: zoomIn 0.5s;
  animation-delay: 1.4s;
  animation-fill-mode: both;
  z-index: 2;
}

.s3_5_wrap {
  position: absolute;
  left: 445px;
  top: 377px;
  width: 510px;
  height: 165px;
  animation: graphWide 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  overflow: hidden;
  z-index: 6;
}

.s3_5 {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 510px;
  height: 165px;
  animation: none 1s;
  animation-delay: 2s;
  animation-fill-mode: both;
  z-index: 6;
}

.s3_6 {
  position: absolute;
  left: 438px;
  top: 194px;
  width: 445px;
  height: 65px;
  animation: zoomIn 0.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  z-index: 6;
}

.s3_7 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 10;
}

.s3_pop1 {
	position: absolute;
	height: 90px;
	width: 120px;
	right: 0px;
	bottom: 0px;
	z-index: 15;
}

.s3_c1ose1 {
	position: absolute;
	width: 1024px;
	height: 768px;
	display: none;
	z-index: 20;
}

@-webkit-keyframes graphWide {
	from {
		width: 0px;
	}
	100% {
		width: 510px;
	}
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}