* {
  margin: 0px;
  padding: 0px;
}

.s2_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s2_2 {
  position: absolute;
  left: 117px;
  top: 34px;
  width: 621px;
  height: 155px;
  animation: zoomIn 0.5s;
  animation-delay: 0.2s;
  animation-fill-mode: both;
  z-index: 3;
}

.s2_3 {
  position: absolute;
  left: 290px;
  top: 206px;
  width: 295px;
  height: 44px;
  animation: flipInYnew 1.5s;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_4 {
  position: absolute;
  left: 47px;
  top: 272px;
  width: 440px;
  height: 440px;
  animation: rotateIn 1s;
  animation-delay: 1.2s;
  animation-fill-mode: both;
  z-index: 2;
}

.s2_5 {
  position: absolute;
  left: 717px;
  top: 488px;
  width: 268px;
  height: 165px;
  animation: revealVerticalRev 1.5s;
  animation-delay: 3s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  clip: rect(0px,268px,0px,0px);
  z-index: 2;
}

.s2_6 {
  position: absolute;
  left: 643px;
  top: 488px;
  width: 318px;
  height: 166px;
  animation: revealHorizontal 1.5s;
  animation-delay: 3.5s;
  animation-fill-mode: both;
  transition-timing-function: ease-in-out;
  clip: rect(0px,0px,166px,0px);
  z-index: 2;
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}


@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,166px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,318px,166px,0px);
	opacity: 1;
  }
}


@keyframes revealVertical {
  0% {
    clip: rect(268px,165px,268px,0px);
	opacity: 0;
  }
  
  100% {
    clip: rect(165px,165px,0px,0px);
	opacity: 1;
  }
}


@keyframes flipInYnew {
  from {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }

  5% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -90deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  
  10% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, -270deg);
    transform: perspective(400px) rotate3d(1, 0, 0, -270deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  
  15% {
    -webkit-transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    transform: perspective(400px) rotate3d(1, 0, 0, 0deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  
  70% {
	-webkit-transform: perspective(400px);
    transform: perspective(400px);
	transform: scale(0.9);opacity:1;
  }

  to {
	-webkit-transform: perspective(400px);
    transform: perspective(400px);
	transform: scale(1.1);opacity: 1;
  }
}


@keyframes revealVerticalRev {
  0% {
    clip: rect(0px,268px,0px,0px);
	opacity: 0;
  }
  
  100% {
    clip: rect(0px,268px,165px,0px);
	opacity: 1;
  }
}
