* {
	margin: 0px;
	padding: 0px;
}

.background {
	position: absolute;
	width: 1024px;
	height: 768px;
	z-index: 1;
}

.heart {
  position: absolute;
  left: 891px;
  top: 104px;
  width: 97px;
  height: 77px;
  animation: pulse 2s infinite;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  z-index: 2;
}
