* {
  margin: 0px;
  padding: 0px;
}

.s1_1 {
  position: absolute;
  width: 1024px;
  height: 768px;
  z-index: 1;
}

.s1_2 {
  position: absolute;
  left: 49px;
  top: 236px;
  width: 264px;
  height: 67px;
  animation: pulse 1s infinite;
  animation-delay: 0s;
  animation-fill-mode: both;
  z-index: 5;
}

.s1_3 {
  position: absolute;
  left: 718px;
  top: 166px;
  width: 240px;
  height: 70px;
  animation: flash 3s infinite;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: 3;
}

.s1_4 {
  position: absolute;
  left: 230px;
  top: 414px;
  width: 564px;
  height: 300px;
  animation: revealHorizontal 3s infinite;
  animation-delay: 0.5s;
  animation-fill-mode: both;
  clip: rect(0px,0px,320px,0px);
  z-index: 8;
}

.s1_5 {
  position: absolute;
  left: 226px;
  top: 433px;
  width: 572px;
  height: 263px;
  animation: revealHorizontal 3s infinite;
  animation-delay: 1.5s;
  animation-fill-mode: both;
  clip: rect(0px,0px,320px,0px);
  z-index: 8;
}

.s1_6 {
  position: absolute;
  left: 227px;
  top: 511px;
  width: 570px;
  height: 107px;
  animation: revealHorizontal 3s infinite;
  animation-delay: 2.5s;
  animation-fill-mode: both;
  clip: rect(0px,0px,320px,0px);
  z-index: 8;
}


@-webkit-keyframes graphRise {
	from {
		height: 0px;
	}
	100% {
		height: 578px;
	}
}


@-webkit-keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes stampIn {
	0% {
		opacity: 0;
	}
	10% {
		transform-origin: 50% 50%;
		transform: scale(3);
		opacity: 0.5;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

.stampIn {
  -webkit-animation-name: stampIn;
  animation-name: stampIn;
}

@keyframes revealHorizontal {
  0% {
    clip: rect(0px,0px,320px,0px);
	opacity: 1;
  }
  
  100% {
    clip: rect(0px,600px,320px,0px);
	opacity: 1;
  }
}


@keyframes revealVertical {
  0% {
    clip: rect(1024px,600px,1024px,0px);
	opacity: 0;
  }
  
  100% {
    clip: rect(0px,600px,1024px,0px);
	opacity: 1;
  }
}